pipeline/P_BlobtoAzureDB.json
{
	"name": "P_BlobtoAzureDB",
	"properties": {
		"activities": [
			{
				"name": "CheckingFileExistance",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "DeletingCurrentdayrecords",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "BlobOnpremiseFilechecking",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Looping for each file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "CheckingFileExistance",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('CheckingFileExistance').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "MovingDataBlobtoAzureDB",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@formatDateTime(utcNow(),'yyyy-MM-dd')",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "S No#",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "S No#",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "Value Date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Value Date",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Transaction Date",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Transaction Date",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Cheque Number",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Cheque Number",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Transaction Remarks",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Transaction Remarks",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Withdrawal Amount (INR )",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Withdrawal Amount (INR )",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 10,
												"precision": 32
											}
										},
										{
											"source": {
												"name": "Deposit Amount (INR )",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Deposit Amount (INR )",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 10,
												"precision": 32
											}
										},
										{
											"source": {
												"name": "Balance (INR )",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Balance (INR )",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 10,
												"precision": 32
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "BlobOnpremiseFilechecking",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSQLDB",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Archieving files",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "MovingDataBlobtoAzureDB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@formatDateTime(utcnow(),'yyyy-MM-dd')",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "BlobOnpremiseFileslooping",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "archievingfiles",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Delete1",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Archieving files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "BlobOnpremiseFileslooping",
									"type": "DatasetReference"
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "OPI_DMRO_Blob_Connection",
										"type": "LinkedServiceReference"
									},
									"path": "deletedfileslogging"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@{concat('Daytransactions_',formatDateTime(utcNow(),'yyyy-MM-dd'),'.csv')}",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			},
			{
				"name": "logigingpipeline",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Looping for each file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[udp_pipelineloging]",
					"storedProcedureParameters": {
						"createdby": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelinename": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"trgname": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"trgruntime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "OPI_DMRO_Azure_DB_Connection",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "DeletingCurrentdayrecords",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "OPI_DMRO_Azure_DB_Connection",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "delete\nfrom [dbo].[BanktransactionDetail]\nwhere dateadd(day,365,cast([Transaction Date] as date))=cast(getdate() as date)\n"
						}
					]
				}
			}
		],
		"annotations": []
	}
}