ADF-OPI-DMRO-Dev/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADF-OPI-DMRO-Dev"
		},
		"OPI_DMRO_Blob_Connection_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'OPI_DMRO_Blob_Connection'"
		},
		"OPI_DMRO_Azure_DB_Connection_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'OPI_DMRO_Azure_DB_Connection'"
		},
		"OPI_DMRO_Onpremise_SQL_Connection_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'OPI_DMRO_Onpremise_SQL_Connection'"
		},
		"AzureKeyVaultConnection_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kypasswordvault.vault.azure.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/OPI_DMRO_Blob_Connection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('OPI_DMRO_Blob_Connection_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVaultConnection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVaultConnection_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OPI_DMRO_Azure_DB_Connection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('OPI_DMRO_Azure_DB_Connection_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVaultConnection",
							"type": "LinkedServiceReference"
						},
						"secretName": "Password"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVaultConnection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobOnpremiseFiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "OPI_DMRO_Blob_Connection",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"OnpremiseFolder": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat('Daytransactions_',formatDateTime(utcnow(),'yyyy-MM-dd'),'.csv')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@formatDateTime(utcnow(),'yyyy-MM-dd')",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().OnpremiseFolder",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/OPI_DMRO_Blob_Connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OPI-DMRO-Onpremise-IR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OPI_DMRO_Onpremise_SQL_Connection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"OnpremiseDBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('OPI_DMRO_Onpremise_SQL_Connection_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVaultConnection",
							"type": "LinkedServiceReference"
						},
						"secretName": "Password"
					}
				},
				"connectVia": {
					"referenceName": "OPI-DMRO-Onpremise-IR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/OPI-DMRO-Onpremise-IR')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVaultConnection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OnpremiseSqlServer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "OPI_DMRO_Onpremise_SQL_Connection",
					"type": "LinkedServiceReference",
					"parameters": {
						"OnpremiseDBName": {
							"value": "@dataset().dsOnPremiseDBName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"dsOnPremiseDBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/OPI_DMRO_Onpremise_SQL_Connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/P_OnpremisetoBlob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "hasData",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "\nselect  Count(1) as RecordCount\nfrom [dbo].[BanktransactionDetail]\nwhere dateadd(day,365,convert(date,[Transaction Date],105))=convert(date,getdate(),105)",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "OnpremiseSqlServer",
								"type": "DatasetReference",
								"parameters": {
									"dsOnPremiseDBName": {
										"value": "@pipeline().parameters.DBName",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "Record Checking",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "hasData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('hasData').output.firstrow.RecordCount,0)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Moving Data",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": "select  [S No#], \nconvert(date,[Value Date],105) as [Value Date], \nconvert(date,[Transaction Date],105) [Transaction Date], \n[Cheque Number], \n[Transaction Remarks], \n[Withdrawal Amount (INR )], \n[Deposit Amount (INR )], \n[Balance (INR )]\nfrom [dbo].[BanktransactionDetail]\nwhere dateadd(day,365,convert(date,[Transaction Date],105))=convert(date,getdate(),105)",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "S No#",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "S No#",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Value Date",
														"type": "DateTime",
														"physicalType": "date"
													},
													"sink": {
														"name": "Value Date",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Transaction Date",
														"type": "DateTime",
														"physicalType": "date"
													},
													"sink": {
														"name": "Transaction Date",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Cheque Number",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Cheque Number",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Transaction Remarks",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "Transaction Remarks",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Withdrawal Amount (INR )",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 10,
														"precision": 32
													},
													"sink": {
														"name": "Withdrawal Amount (INR )",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Deposit Amount (INR )",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 10,
														"precision": 32
													},
													"sink": {
														"name": "Deposit Amount (INR )",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "Balance (INR )",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 10,
														"precision": 32
													},
													"sink": {
														"name": "Balance (INR )",
														"type": "String",
														"physicalType": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "OnpremiseSqlServer",
											"type": "DatasetReference",
											"parameters": {
												"dsOnPremiseDBName": "ADFLearning"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "BlobOnpremiseFiles",
											"type": "DatasetReference",
											"parameters": {
												"OnpremiseFolder": "onpremisefiles"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/OnpremiseSqlServer')]",
				"[concat(variables('factoryId'), '/datasets/BlobOnpremiseFiles')]"
			]
		}
	]
}